#menu {
	clear:both;
        width:992px;
!	height: 28px;
	margin:auto;
	text-align:center;
!        margin-left:auto;
!        margin-right:auto;
!        font-family: Arial, Verdana, Georgia,'Times New Roman',Times,serif;
        font-size: 13px;
	font-weight:bold;
}
#menu ul, #menu li {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
#menu li {
	width: 180px;
}

#menu li.long {
        !width: 223px;
        width: 208px;
}
	
#menu li a {
	display: block;
	text-align: center;
	text-decoration: none;
	border: 1px solid #fff;
}
/*---------- Niveau 1 ----------*/
#menu .niveau1 li {
	float: left;
	margin: 0 1px 0 0;
 background-color:#eeeeee;
 text-align: justify;
 !border:1px solid gray;
 !box-shadow:2px 2px 10px gray;
 !-moz-box-shadow:2px 2px 10px gray;
 !-webkit-box-shadow:2px 2px 10px gray;
}
#menu .niveau1 li a {
        !margin: 0 1px 0 1px;
        margin:0;
	padding: 5px 0;
	height: 16px;
	color: #fff;
	!background: #746756;
	!background: #000;
	!background: #161F8E;
	background: #4A7FBA;
}
#menu .niveau1 li:hover a,
#menu .niveau1 li a:hover {
	color: #fff;
	background: #161F8E; !#181BA8; #6D8600;
}
/*---------- Niveau 2 ----------*/
#menu .niveau2 {
	position: absolute;
	top: -9999em;
	z-index:10;
}
#menu .niveau2 li {
	clear: left;
	margin: -1px 0 0;
}
#menu .niveau2 li a {
	color: #fff;
	background: #6D8600;
}
#menu .niveau2 li a:hover {
	color: #746756;
	background: #B7E9EB; !#D8ED1A;
}
#menu li:hover .niveau2,
#menu .sfhover .niveau2 {
	top: auto;
	min-height: 0; /* corrige un bug IE7 */
}
/*---------- Niveau 3 ----------*/
#menu .niveau1 .niveau2 .niveau3 {
	position: absolute;	
	top: -9999em;
	!border-top: 1px solid #fff; /* corrige un bug IE6 */
}
#menu .niveau3 li a {
	color: #fff;
	background: #6D8600;
}
#menu .niveau3 li:hover a,
#menu .niveau3 li a:hover {
	color: #746756;
	background: #D8ED1A;
}
#menu .niveau2 li:hover .niveau3,
#menu .niveau2 .sfhover .niveau3 {	
	top: auto;
	margin:-28px 0 0 149px;
}
#menu .inverse .niveau2 li:hover .niveau3,
#menu .inverse .niveau2 .sfhover .niveau3 {	
	top: auto;
	margin:-28px 0 0 -149px;
}

/*---------- Pour un menu extensible ----------*/

/*
#menu ul, #menu li {
	width:auto;
}
#menu .niveau1 li, #menu .niveau2 {
	width: 25%; 
}
#menu .niveau2 li {
	width:100%; 
}
#menu .niveau2 li:hover .niveau3,
#menu .niveau2 .sfhover .niveau3 {
	margin:-28px 0 0 100%; 
}
#menu .inverse .niveau2  li:hover .niveau3,
#menu .inverse .niveau2 .sfhover .niveau3  {
	margin:-28px 0 0 -100%;	
}
#menu .niveau3 {
	width: 100%;  
}
*/

/* 
#menu .niveau1 li, #menu .niveau2 {
	width: 25%; <-- 100% divisé par le nombre de menus
}
#menu .niveau2 li {
	width:100%; <-- largeur du menu par rapport à la fenêtre 
}
*/
